.title{
    text-align: center;
    margin: 40px;
}

.container{
    max-width: 800px;
    background-color: white;
    border-radius: 20px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.wrapper{
    padding-top: 50px;
    margin-inline: 50px;
}

.nameWrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-inline: 50px;
}

.buttonWrapper{
    text-align: center;
    padding-bottom: 50px;
    margin-top: 30px;
}
.button{
    font-size: 1.5rem;
    border-radius: 10px;
    color: white;
    background-color: #1765E5;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
}