.detailContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.influenceWrapper{
    max-width: 600px;
    margin: 0 auto;
}

.wrapper {
    padding-top: 50px;
}

.nameWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
